html,
body {
    font-family: 'Noto Serif JP', sans-serif;
    background: #FFF7E7;
}

p {
    line-height: 1.8;
}

body {
    @include media(xl, max) {
        padding-bottom: 55px;
    }

    @include media(sm, max) {
        padding-bottom: 55px;
    }

    @include media(sm, min) {
        padding-top: 120px;
    }

    @include media(sm, max) {
        padding-top: 81px;
    }
}

.content-block {
    max-width: 860px;
    margin: 0 auto 80px;
    padding: 0 30px;

    @include media(md, max) {
        padding: 0 15px;
        margin-bottom: 40px;
    }

    & + .content-block {
        border-top: 1px dashed #c2a731;
        padding-top: 80px;

        @include media(md, max) {
            padding-top: 40px;
        }
    }
}

.content-title {
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 1.4rem;

    &.center {
        text-align: center;
        margin-bottom: 40px;
    }

    @include media(md, max) {
        font-size: 1.2rem;
        text-align: center;
    }
}

.sentence-block {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;

    & + .sentence-block {
        margin-top: 40px;
    }

    @include media(md, max) {
        padding: 0;
    }
}
